:host {
  height: 60px;
  width: 100%;
  display: block;
}

.user-info {
  justify-content: end;
  color: green;
  font-size: 20px;
}

.time-block {
  position: absolute;
  right: 0;
  padding: 4px;
}
